[Unit]
Description=Prune unused Arctic RSS Docker build cache
Wants=docker.service
After=docker.service

[Service]
Type=oneshot
ExecStart=/usr/bin/docker builder prune --all --force --filter until=168h
