[Unit]
Description=Prune all unused Arctic RSS Docker build cache
Wants=docker.service
After=docker.service

[Service]
Type=oneshot
ExecStart=/usr/bin/docker builder prune --all --force
